<h2>Adjust Settings to Make it Easier to Log in</h2>

<form action="/users/edit/<%=@user.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
<label for = "username">Change Username?</label>
<input type = "text" name = "username" value = "<%=@user.username%>"></input>
<label for = "password">Change Password?</label>
<input type = "password" name = "password">
<input type = "submit">
</form>

or....

<h3 class = "warning"> <a href = "/users/delete/<%=@user.id%>">Remove Account?</a> </h3>
