
    <h4> Here are the movies you have selected:</h4>

    <ul>
      <%@user.movies.each do |movie|%>
      <li><%=movie.name%></li>
      <%end%>
    </ul>

    <a href = "/movies/edit/<%=@user.id%>">Do you want to edit your movies?</a>


<p class = "warning"> <a href = "/users/delete/<%=@user.id%>">Remove Account?</a> </p>
