<div class = "container">
    <p> Here are the movies you have selected, <%=@user.username%></p>

    <ul>
      <%@user.movies.each do |movie|%>
      <li><%=movie.name%></li>
      <%end%>
    </ul>

    <a href = "/movies/<%=@user.id%>/edit">Do you want to edit?</a>

</div>

<h3 class = "warning"> <a href = "/users/delete/<%=@user.id%>">Remove Account?</a> </h3>
