

<div class = "container">
    <div class = "row">
      <h2 class = "container" id = "title">Welcome to Movies To See!</h2>
    </div>
     <div class = "row">
      <div class = "col-md-6">
      <a href="/signup" class="btn btn-lg" role="button">Sign Up!</a>
      </div>
      <div class = "col-md-6">
        <a href="/login" class="btn btn-lg" role="button">Log In!</a>
      </div>
    </div>
</div>
