<!doctype html>
<html>
  <head>
    <title>Movies You Want to See</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <nav class = "container">
      <h3>Movies To See </h3>
      <% if logged_in? %>
        <a href = "/users/edit/<%=session[:id]%>">Change/Remove Account?</a>
        <a href="/logout"> Log Out </a>
        <p>Welcome, <%=current_user.username %></p>
        <p><a href = "/users/show/<%=session[:id]%>">Wanna See Your Movies?</a></p>
      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login"> Sign In </a>
      <%end %>

    </nav>
       <%=yield%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
